/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
html, 
body {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

#myCanvas:hover {
  cursor: default;
}

#tool-button {
  margin: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  float: left;
}
#tool-button:hover {
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
}

#tool-button.selected {
  -webkit-filter:invert(100%);
  background-color: rgb(0, 0, 0, 1);
  border: 1px solid black;
  border-radius: 7px;
}

#tool-button2 {
  margin: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  float: left;
}
#tool-button2:hover {
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
}
#tool-button2.toggled {
  -webkit-filter:invert(100%);
  background-color: rgb(0, 0, 0, 1);
  border: 1px solid black;
  border-radius: 7px;
}

#color-box {
  width: 30px;
  height: 30px;
  margin-left: 19px;
  border: 1px solid #000000;
  background-color: #000000;
  float: left;
}

#menu-toggle {
  width: 32px;
  height: 32px;
  background-color: rgb(0, 0, 0, 0);
  background-image: url('../img/settings-work-tool.png');
  position: absolute;
  border: 0px;
  left: 80px;
  top: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#menu-toggle.toggled {
  transform:rotate(135deg);
  left: 20px;
}

#clear_canvas {
  width: 32px;
  height: 32px;
  background-image: url('../img/document-symbol.png');
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  border: 0px;
  left: 130px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#clear_canvas.toggled {
  left: 70px;
}

#save_canvas {
  width: 32px;
  height: 32px;
  background-image: url('../img/save.png');
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  border: 0px;
  left: 180px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#save_canvas.toggled {
  left: 120px;
}

#undo {
  width: 32px;
  height: 32px;
  background-image: url('../img/back-arrow.png');
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  border: 0px;
  left: 230px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#undo.toggled {
  left: 170px;
}

#redo {
  width: 32px;
  height: 32px;
  background-image: url('../img/forward-arrow.png');
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  border: 0px;
  left: 280px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#redo.toggled {
  left: 220px;
}

#wrapper {
  height:100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #535353;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
	text-align: center;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.slidecontainer {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  visibility: visible;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 31px;
  border: 0;
  background: url('https://i.imgur.com/TJ6Yxnv.png');
  background-position: bottom;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 31px;
  border: 0;
  background: url('https://i.imgur.com/TJ6Yxnv.png');
  background-position: bottom;
  background-repeat: no-repeat;
  cursor: pointer;
}