/* Common stuff */
.picker-wrapper, 
.slide-wrapper {
    position: relative;
    float: left;
}
.picker-indicator,
.slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.picker,
.slide {
    cursor: crosshair;
    float: left;
}

/* Default skin */

.cp-default {
    background-color: #535353;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 6px;
    margin-bottom: 10px;
    float: left;
}
.cp-default .picker {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.cp-default .slide {
    width: 18px;
    height: 200px;
    border: 1px solid black;
}
.cp-default .slide-wrapper {
    background-color: #535353;
    margin-left: 12px;
}
.cp-default .picker-indicator {
    width: 9px;
    height: 9px;
    border: 1px solid white;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
}
.cp-default .slide-indicator {
    width: 60px;
    height: 20px;
    left: -20px;
    background-image: url(https://i.imgur.com/aNorvgB.png);
}
